/** BACKGROUND*/
section#about {
  background: var(--bg-second);
  height: auto;
  transition: ease var(--change-theme-delay);
}
@media (max-width: 720px) {
  section#about {
    height: 100vh;
  }
}
/** CONTAINER*/
section#about  {
  display: flex;
  --height: 22.93rem;
}
section#about > .container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 15%;
  height: 22.93rem;
  padding: 6.18rem 0;
}
@media (max-width: 1280px) {
  section#about > .container {
    column-gap: 10%;
    padding: 6.18rem 4rem;
  }
}
@media (max-width: 880px) {
  section#about > .container {
    column-gap: 5%;
  }
}
@media (max-width: 720px) {
  section#about > .container {
    padding: 2rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: auto 1fr;
    height: 85vh;
    row-gap: 2rem;
  }
  
}
section#about > .container .card {
  min-width: 22.93rem;
}
@media (max-width: 720px) {
  section#about > .container .card {
    min-width: 16.93rem;
  }
}

/*? ABOUT-ME*/
section#about > .container .about-me {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 720px) {
  section#about > .container .about-me {
    justify-content: initial;
    row-gap: 1rem;
  }
}
section#about > .container .about-me h2 {
  text-transform: uppercase;
}
section#about > .container .about-me .text h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
section#about > .container .about-me .text p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--font-second);
  margin-bottom: 0;
}

/*? SOCIAL*/
section#about > .container .about-me .social {
  display: flex;
  column-gap: 2.1rem;
  color: var(--cyan);
}
section#about > .container .about-me .social i {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: ease 0.5s;
}

section#about > .container .about-me .social i:hover {
  background: #ffffff15;
}