/** BACKGROUND*/
section#experience {
  background: var(--bg-primary);
  height: 35.31rem;
  display: flex;
  overflow: hidden;
}
@media (max-width: 720px) {
  section#experience {
    height: 100vh;
  }
}

/** CONTAINER*/
section#experience > .container{
  height: 22.93rem;
}
@media (max-width: 720px) {
  section#experience > .container{
    padding-top: 5rem;
    height: 80vh;
    padding: 0 ;
  }
}


/** NAV*/
section#experience > .container nav {
  display: flex;
  flex-direction: column;
}
@media (max-width: 720px) {
  section#experience > .container nav {
    overflow: overlay;
    height: 3.43rem;
    position: relative;
    padding-left:2rem ;
  }
  section#experience > .container nav::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
section#experience > .container > h2 {
  text-transform: uppercase;
  margin-bottom: 1.62rem;
}
@media (max-width: 720px) {
  section#experience > .container > h2 {
    padding: 0 2rem ;
  }
}
section#experience > .container .table { 
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5.5rem;
  height: 100%;
}
@media (max-width: 720px) {
  section#experience > .container .table { 
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: auto 1fr;
    row-gap: 2rem;
  }
}

/** TABS*/
@media (max-width: 720px) {
  section#experience > .container .tabs  {
    display: flex;
    column-gap: 0.5rem;
    position: relative;
    width: max-content;
  }
  section#experience > .container .tabs::after  {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.1rem;
    background-color: var(--bg-second);
    width: 100%;
  }
}
section#experience > .container .tabs .tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.06rem;
  height: 3.43rem;
  cursor: pointer;
  font-size: 1.125rem;

  color: var(--font-second);
}    
@media (max-width: 720px) {
  section#experience > .container .tabs .tab {
    min-width: 10rem;
  }

}
section#experience > .container .tabs .tab:hover,
section#experience > .container .tabs .tab.active {
  background-color: var(--bg-second);
  color: var(--font-primary);
}
section#experience > .container .tabs .tab::before,
section#experience > .container .tabs .tab.active::before {
  content: '';
  position: absolute;
  left: 0;
  background: var(--bg-second);
  height: 100%;
  width: 0.1rem;
  border-radius: 0.3rem;
}
section#experience > .container .tabs .tab:hover::before,
section#experience > .container .tabs .tab.active::before {
  background: var(--cyan);
  animation: hovertab 0.2s ;
}
@keyframes hovertab {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

/** CONTENT*/
section#experience > .container .content {
  flex-direction: column;
  row-gap: 1.62rem;
  display: none;
  transition: ease 0.2s;
  transform: translateX(-100px);
  opacity: 0;
}
@media (max-width: 720px) {
  section#experience > .container .content {
    padding: 0 2rem ;
  }
}
section#experience > .container .content.active {
  display: flex;
  transform: translateX(0px);
  opacity: 1;
  animation: tabshow 0.2s;
}
@keyframes tabshow {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
section#experience > .container .content.hide {
  transform: translateX(200px);
  opacity: 0;
  animation: tabhide 0.2s;
}
@keyframes tabhide {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}


section#experience > .container .content .header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  section#experience > .container .content .header {
    flex-direction: column;
    row-gap: 0.3rem;
  }
}
section#experience > .container .content .header h2 {
  text-transform: capitalize;
}
section#experience > .container .content .header .date {
  display: flex;
  align-items: center;
}
section#experience > .container .content .company {
  font-size: 1rem;
  color: var(--cyan);
}
section#experience > .container .content p {
  font-size: 1.12rem;
  color: var(--font-second);
}